* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;

  width: 100%;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background: #6c6c6c;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

.content {
  display: flex;
}

#lefHeader {
  width: 110px;
  height: 873px; /*나중에 vh그 기전? 검색해서 알아봐야 할듯 */

  padding: 0 0 0 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.iconContainer {
  width: 90px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 10px;

  cursor: pointer;
}
.iconContainer:hover {
  background-color: whitesmoke;
}
.icon {
  width: 30px;
  height: 30px;
}

#upHeader {
  width: 100;
  height: 80px;

  padding: px 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#upHed1 {
  margin: 0 0 0 30px;

  display: flex;
  align-items: center;
  gap: 20px;
}

#lineThree {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#youLogo {
  width: 150px;
  height: 60px;
  cursor: pointer;
}

#upHed2 {
  display: flex;
  border: 1px solid #aaaaaa;
  border-radius: 40px;
}

#upHed2 > input {
  width: 30vw;

  border: none;

  padding: 10px 20px;
  font-size: 20px;
  border-radius: 40px 0 0 40px;

  box-shadow: 1px 1px 3px 0px inset #ececec;
}

#upHed2 > button {
  border: none;
  border-radius: 0 40px 40px 0;

  width: 70px;
  cursor: pointer;

  /* 이거 인풋이랑 버튼 사이에 선 어캐그음????? */
}

#upHed3 {
  display: flex;
  gap: 10px;

  margin: 0 30px 0 0;
}
#upHed3 > div {
  width: 50px;
  height: 50px;

  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  cursor: pointer;
}
#upHed3 > button {
  padding: 5px 20px;

  font-size: 20px;

  border: 1px solid #dcdcdc;
  border-radius: 40px;

  color: #4167ff;

  background-color: white;

  cursor: pointer;
}

#inContent {
  width: 100vw;
  height: 873px;

  padding: 10px;
}

#category {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  height: 100px;

  overflow: auto;
  white-space: nowrap;
}
#category::-webkit-scrollbar {
  display: none;
}

#category > :first-child {
  background-color: black;
  color: white;
}

#category > button {
  border: none;
  border-radius: 9px;

  font-size: 17px;
  color: #424242;
  text-align: center;
  padding: 7px 13px 13px 13px;

  background-color: whitesmoke;

  cursor: pointer;
}

#category > :not(:first-of-type):hover {
  background-color: rgb(231, 231, 231);
}

#videoContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 400px;

  cursor: pointer;
}
.videoexplan {
  display: flex;
  gap: 5px;
}

.videoImg {
  width: 450px;
  height: 250px;
  border-radius: 15px;
}
.videoImg:hover {
  border-radius: 0px;
}

.proImg {
  width: 45px;
  height: 45px;

  border-radius: 50%;
}

.videoTitle {
  margin: 0 0 0 5px;
}
.bigTitle {
  /* background-color: yellow; */
  width: 400px;
  margin: 0 0 5px 0;
  font-size: 18px;
}
.smlTitle {
  font-size: 15px;
  color: grey;
}
